#header {
    margin-bottom: 30px;
    text-align: center;
    padding: 50px;
    color: #382e11;
    background-color: rgba(206, 170, 170, 0.418);
    border-color: #ffeeba;
  

    
}

#container {
    padding: 50px;
    width: 50%;
    margin: auto;
    
}